<html>
<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

  <script>
    var token = "";
    $(document).ready(function() {

      $("#main").hide();
      $("#login").submit(function(event) {
	  event.preventDefault();
	  var posting = $.post('/login', $("#login").serialize())
	    .done(function(data) {
		token = data;
		$("#login_div").hide();
		$.get('/configs', {"token": token})
		.done(function(resp) {
		  $('#main').append(resp);  
		  $('#main').show();  
		});
	    });
	});

      $("#configs").submit(function(event) {
	event.preventDefault();
	var posting = $.post('/configs', $("#configs").serialize())
	  .done(function(data) {
	    $("#main").append("added");
	    });
	  });
    });
  </script>
</head>

<body>
  <div id="login_div">
    <h1>Login</h1>
    <form id="login" action="login" method="post">
      User: <input type="text" name="user"/>
      Password: <input type="password" name="pass"/>
      <input type="submit" value="Login"/>
    </form>
  </div>
  <div id="main">
    <h1>Configurations</h1>
    <form id="configs" action="configs" method="post">
      Name: <input type="text" name="name"/><br>
      hostname: <input type="text" name="hostname"/><br>
      port: <input type="text" name="port"/><br>
      username: <input type="text" name="username"/><br>
      <input type="submit" value="Add"/>
    </form>
  </div>
</body>
</html>
