<html>
<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

  <script>
    var token = "";
    $(document).ready(function() {

      $("#main").hide();

      $("#login").submit(function(event) {
	event.preventDefault();
	var u = '/login';
	var params = $('#login').serialize();

	var posting = $.post(u, params).done(function(data) {
	  token = data;
	  $("#login_div").hide();
	  $('#main').show();  
	});
      });

      // Add
      $("#configs").submit(function(event) {
	event.preventDefault();
	var u = '/configs/' + $('#config_array').val();
	var params = $("#configs").serialize() + "&token=" + token;

	var posting = $.post(u, params).done(function(data) {
	      $("#server_msgs").html(data);
	});
      });

      $("#deleteconfigs").submit(function(event) {
	event.preventDefault();
	var u = '/configs/' + $("#config_array").val();
	var params = {"token": token};
	var toDelete = $("#deleteconfigs").find("input[type=text]")[0].value;

	if(toDelete) {
	  u += "/" + toDelete 
	}

	$.ajax({
	  url: u,
	  type: 'DELETE',
	  data: params,
	  success: function(result) {
	    $("#server_msgs").html(result);
	  }
	});
      });

      $("#get_btn").click(function() {
	var u = '/configs/' + $("#get_uri").val();
	var params = {"token": token};

	if($("#only_100k").prop('checked')) {
	  params["only100k"] = "true";
	}

	$.get(u, params).done(function(resp) {
	  $("#server_msgs").html(resp);
	});
      });
    });
  </script>
</head>

<body>
  <div id="login_div">
    <h1>Login</h1>
    <form id="login" action="login" method="post">
      User: <input type="text" name="user"/>
      Password: <input type="password" name="pass"/>
      <input type="submit" value="Login"/>
    </form>
  </div>
  <div id="main">
    <h1>Configurations</h1>
    configuration: <input type="text" id="config_array"/>
    <form id="configs" action="configs" method="post">
      Name: <input type="text" name="name"/><br>
      hostname: <input type="text" name="hostname"/><br>
      port: <input type="text" name="port"/><br>
      username: <input type="text" name="username"/><br>
      <input type="submit" value="Add"/>
    </form>
    <form id="deleteconfigs" action="configs" method="delete">
      Enter config name to delete: <input type="text" name="name"/>
      <input type="submit" value="Delete"/>
    </form>
    uri to get: <input id="get_uri" type="text" name="geturi"/>
    <button id="get_btn">Get</button>
    <input type="checkbox" id="only_100k" value="true"/>Show only configurations with at least 100,000 elements
  </div>
  <h3>Message from server:</h3>
  <div id="server_msgs"></div>
</body>
</html>
